# Linear Regression Refresher

Optimize the orientation of a line that best fits coupled/correlated parameters.

- Simple Linear Regression: Uses 1 dependent (y) variable and 1 independent (x) variable.

- Formula: y = m * x + b
- Goal: Optimize the slop (m) and y-intercept (b)

## Example

Housing prices across the United States

- **First, I need to import the Library**

In [1]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

- **Then I read the data from csv file**

In [2]:
df = pd.read_csv('usa_housing.csv')

In [6]:
# conda install posix 

! head -2 usa_housing.csv

'head' is not recognized as an internal or external command,
operable program or batch file.

- **I will remane the headers since they are long**

In [7]:
housing = pd.read_csv('usa_housing.csv', header=1, 
                      names=['income', 'age', 'rooms', 'bedrooms', 'population', 'price', 'address'])
housing

,income,age,rooms,bedrooms,population,price,address
0,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
1,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
2,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
3,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
4,80175.754159,4.988408,6.104512,4.04,26748.428425,1.068138e+06,"06039 Jennifer Islands Apt. 443\nTracyport, KS..."
...,...,...,...,...,...,...,...
4994,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4995,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4996,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4997,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\nFPO AE 73316
4998,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."